@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-show::-webkit-scrollbar {
    display: initial;
    width: 12px;
    border-radius: 20px;
  }

  .scrollbar-show::-webkit-scrollbar-track,
  .scrollbar-show::-webkit-scrollbar-thumb {
    transition: all 0.5s;
  }

  .scrollbar-show::-webkit-scrollbar-thumb {
    cursor: pointer;
  }

  .scrollbar-show:hover::-webkit-scrollbar-track {
    background: #eaeaea;
  }

  .scrollbar-show:hover::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
    border-radius: 20px;
    border: 3px solid #eaeaea;
  }
}
